[submodule "pipy"]
	path = pipy
	url = https://github.com/flomesh-io/pipy.git
[submodule "extensions/ztm-chat"]
	path = extensions/ztm-chat
	url = git@github.com:flomesh-io/openclaw-channel-plugin-ztm.git
