.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
    justify-content: space-between;
    padding: 0;
    transition: margin-left $transitionDuration;
		flex: 1;
		overflow-x: hidden;
}

.layout-main {
    flex: 1 1 auto;
		display: flex;flex-direction: column;
}