* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
    background-color: var(--surface-html);
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-html);
    margin: 0;
		padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
}

.layout-wrapper {
		position: relative;
		padding: env(safe-area-inset-top, 0) 0 0 0;
		min-height: calc(100vh - env(safe-area-inset-bottom, 0));
		display: flex;
		flex-direction: row;
}