@mixin focused() {
    outline: 0 none;
    outline-offset: 0;
    transition: box-shadow .2s;
    box-shadow: var(--p-focus-ring);
}

@mixin focused-inset() {
    outline: 0 none;
    outline-offset: 0;
    transition: box-shadow .2s;
    box-shadow: inset var(--p-focus-ring);
}
